@import '../../style/base/variables.scss';
@import '../../style/base/mixins.scss';

.buttonWrap {
  position: relative;
  // width: pxtorem(160);
  margin: pxtorem(10) auto;
  text-align: center;

  .button {
    padding: pxtorem(12) pxtorem(18);
    color: $white;
    background-color: $primary_summer_sky;
    border: 1px solid $primary_summer_sky;
    text-transform: uppercase;
    @include border-radius(20px);

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}
